@media (width <= 767px) {
    main {
        background: red;
    }

    [ data-form="container-form"] { 
        /* width: 500px; */
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    [ data-form="container-form"] > [data-form="form"] {
        width: 250px;
    }

    main section > button {
        justify-self: end;
        margin-right: 1.2rem;
    }
}